
<!-- 考研资讯 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>考研资讯</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <!-- 样式 -->
    <link rel="stylesheet" href="../../css/style.css" />
    <!-- 主题（主要颜色设置） -->
    <link rel="stylesheet" href="../../css/theme.css" />
    <!-- 通用的css -->
    <link rel="stylesheet" href="../../css/common.css" />

    <link rel="stylesheet" href="../../css/blog/app.css" />
    <link rel="stylesheet" href="../../css/blog/index.css" />
    <link href="//at.alicdn.com/t/c/font_3994378_cm69uy2e6f.css" rel="stylesheet">
    <!--		<script src="//at.alicdn.com/t/c/font_3994378_b2nq12tc0z6.js"></script>-->
    <script src="//at.alicdn.com/t/c/font_3994378_cm69uy2e6f.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../elementui/index.css">

    <style>
        .layui-input-block {
            margin-left: 110px;
            margin-right: 40px;
            min-height: 36px;
        }


    </style>
</head>
<body>

<div id="app">
    <!-- 轮播图 -->
    <div class="layui-carousel" id="swiper">
        <div carousel-item id="swiper-item">
            <div v-for="(item,index) in swiperList" v-bind:key="index">
                <img class="swiper-item" :src="item.img">
            </div>
        </div>
    </div>
    <!-- 轮播图 -->

    <!-- 图文列表 -->
    <div class="data-container layui-row">
        <h2 class="index-title"></h2>
        <div class="line-container">
            <p class="line"> 最新考研资讯 </p>
        </div>
        <fieldset class="search-container">
            <form class="layui-form">

                <div class="layui-inline" style="margin-bottom: 20px;">
<!--                    <svg class="icon" aria-hidden="true" style="width: 30px;height: 30px;margin-bottom: 0px">-->
<!--                        <use xlink:href="#icon-heliumingcheng"></use>-->
<!--                    </svg>-->
                    <label class="layui-form-label"><i class="el-icon-s-opportunity"></i>资讯名称</label>
                    <div class="layui-input-inline">
                        <input type="text"  name="title" id="title" placeholder="请输入资讯标题" autocomplete="off" class="layui-input">
                    </div>

                </div>


                <div class="layui-inline" style="margin-bottom: 20px" >
<!--                    <svg class="icon" aria-hidden="true" style="width: 30px;height: 30px;margin-bottom: 0px">-->
<!--                        <use xlink:href="#icon-fenlei1"></use>-->
<!--                    </svg>-->
                        <div class="layui-input-inline">
                            <label class="layui-form-label"><i class="el-icon-price-tag"></i>分类</label>
                            <div class="layui-input-block">
                                <select name="categoryName" id="categoryName" lay-filter="industry" style="margin-bottom: 20px;">
                                    <option value="">请选择分类</option>
                                    <option v-for="(item,index) in categoryNameOptions " v-bind:key="index" :value="item">{{item}}</option>
                                </select>

                            </div>

                        </div>

                </div>

                <div class="layui-inline" style="margin-left: 20px;margin-bottom: 10px;">
                    <button id="btn-search" type="button" class="layui-btn">
                        <i class="layui-icon layui-icon-search"></i> 搜索
                    </button>
<!--                    <button v-if="isAuth('information','新增')" @click="jump('../information/add.html')" type="button" class="layui-btn btn-theme">-->
<!--                        <i class="layui-icon">&#xe654;</i> 添加-->
<!--                    </button>-->
                </div>
            </form>
        </fieldset>



        <div class="container">
            <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                <div class="el-col el-col-24 el-col-sm-24 el-col-md-16" style="padding-left: 15px; padding-right: 15px; transition: all 0.5s ease-out 0s; margin-bottom: 30px;">
                    <div class="sharelistBox el-row" v-for="(item,index) in dataList" v-bind:key="index">
                        <div class="s-item tcommonBox el-col el-col-24" >
                                    <span class="s-round-date">
                                        <span class="month" v-html="showInitDate(item.publishTime,'month')+'月'"></span>
                                        <span class="day" v-html="showInitDate(item.publishTime,'date')"></span>
                                    </span>
                            <header>
                                <h1>
                                    <a @click="jump('../information/detail.html?id='+item.id)" target="_blank">
                                        {{item.title}}
                                    </a>
                                </h1>
                                <h2>
                                    <i class="fa fa-fw fa-user"></i>发表于
                                    <i class="fa fa-fw fa-clock-o"></i>
                                    <!-- <span>2022年01月23日</span> • -->
                                    <span v-html="showInitDate(item.publishTime,'all')">{{showInitDate(item.publishTime,'all')}}</span>
                                    <i class="fa fa-fw fa-eye"></i>{{item.clickNum}} 次围观 •

                                </h2>
                                <div class="ui label">
                                    <a href="#/Share?categoryName=">{{item.categoryName}}</a>
                                </div>
                            </header>
                            <div class="article-content">
                                <p style="text-indent: 2em;">
                                    <!-- {{item.}} -->
                                </p>
                                <p style="max-height: 300px; overflow: hidden; text-align: center;">
                                    <img :src="item.picture?item.picture.split(',')[0]:''" alt="" class="maxW">
                                </p>
                            </div>
                            <div class="viewdetail">
                                <a @click="jump('../information/detail.html?id='+item.id)" target="_blank" class="tcolors-bg">
                                    阅读全文&gt;&gt;
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="el-col el-col-24 el-col-sm-24 el-col-md-8" style="padding-left: 15px; padding-right: 15px;">
                    <div class="rightlistBox">
                        <section>
                            <div class="r1-head">
                                <img src="../../img/index/kaoyan.jpg" alt="一研为定">
                                <h1>
                                    <span>一研为定</span>
                                </h1>
                            </div>
                            <div class="r1-body">
                                <p>友情考研链接</p>
                                <div class="catch-me">
                                    <div>
                                        <a href="https://yz.chsi.com.cn/" target="_blank" class="el-tooltip item">
                                            <!-- <i class="fa fa-fw fa-qq">研招网</i> -->
                                            <el-button type="primary">研招网</el-button>
                                        </a>
                                        <a href="https://kaoyan.eol.cn/" target="_blank" class="el-tooltip item">
                                            <!-- <i class="fa fa-fw fa-qq">教育在线</i> -->
                                            <el-button type="success">教育在线</el-button>
                                        </a>
                                        <a href=" https://kaoyan.eol.cn/e_ky/zt/c" target="_blank" class="el-tooltip item">
                                            <!-- <i class="fa fa-fw fa-weibo">真题网</i> -->
                                            <el-button type="info">真题网</el-button>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="http://muchong.com/" target="_blank" class="el-tooltip item">
                                            <!-- <i class="fa fa-fw fa-wechat">小木虫</i> -->
                                            <el-button type="warning">小木虫</el-button>
                                        </a>
                                        <a href=" https://yz.chsi.com.cn/zyk/" target="_blank" class="el-tooltip item">
                                            <!-- <i class="fa fa-fw fa-wechat">专业库</i> -->
                                            <el-button type="danger">专业库</el-button>
                                        </a>
                                        <a href="http://bbs.kaoyan.com/" target="_blank" class="el-tooltip item">
                                            <!-- <i class="fa fa-fw fa-wechat">考研论坛</i> -->
                                            <el-button>考研论坛</el-button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </section>

                        <section class="rs4">
                            <div class="r1-head">
                                <img src="../../img/background/90.gif" alt="一研为定">
                                <h1>
                                    <span>一定研一</span>
                                </h1>
                            </div>
                            <span style="font-size: 20px;font-weight: bold"> <el-icon class="el-icon-thumb"></el-icon>最新文章</span>
                            <ul>
                                <li v-for="(item, index) in browseList" :key="'browseList'+index">
                                    <el-icon class="el-icon-position"></el-icon>
                                    <a @click="jump('../information/detail.html?id='+item.id)" target="_blank">{{index+1+'.'}}{{item.title}}</a>
                                    —— {{ item.clickNum }} 次围观
                                </li>

                            </ul>
                        </section>
                        <section class="rs4">
                            <div class="r1-head">
                                <img src="../../img/background/bubble1.gif" alt="一研为定">
                                <h1>
                                    <span>你终硕</span>
                                </h1>
                            </div>
                            <span style="font-size: 20px;font-weight: bold"> <el-icon class="el-icon-thumb"></el-icon>热门文章</span>
                            <ul>
                                <li v-for="(item, index) in hotList" :key="'hotList'+index">
                                    <el-icon class="el-icon-position"></el-icon>
                                    <a @click="jump('../information/detail.html?id='+item.id)" target="_blank">{{index+1+'.'}}{{item.title}}</a>
                                    —— {{ item.clickNum }} 次围观
                                </li>

                            </ul>
                        </section>
                        <div class="toTop goTop hidden">
                            <img src="../../img/index/banner4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pager" id="pager"></div>
    </div>
    <!-- 图文列表 -->
</div>


<!-- layui -->
<script src="../../layui/layui.js"></script>
<!-- vue -->
<script src="../../js/vue.js"></script>
<!-- 组件配置信息 -->
<script src="../../js/config.js"></script>
<!-- 扩展插件配置信息 -->
<script src="../../modules/config.js"></script>
<!-- 工具方法 -->
<script src="../../js/utils.js"></script>
<script src="../../js/blog/server.js"></script>
<script src="../../js/blog/axios-0.18.0.js"></script>

<!-- 引入组件库 -->
<script src="../../elementui/index.js"></script>

<script>

    const vue = new Vue({
        el: '#app',
        data: {
            // 轮播图
            swiperList: [{
                img: '../../img/banner.jpg'
            }],
            categoryNameOptions: [],
            dataList: [],
            browseList: [] ,
            hotList: []

        },
        methods: {
            isAuth(tablename, button) {
                return isFrontAuth(tablename, button)
            },
            jump(url) {
                jump(url)
            },
            showInitDate(oldDate, full) {
                return initDate(oldDate, full)
            },
            getLatestArticleList() {
                axios.get("/postgraduate/information/latestArticleList").then((res)=>{
                    this.browseList = res.data.data;
                });
            },
            getHotArticleList() {
                axios.get("/postgraduate/information/hotArticleList").then((res)=>{
                    this.hotList = res.data.data;
                });
            },
            getCategory(){
                axios.get("http://localhost:8080/postgraduate/option/informationcategory/category_name").then(({ data }) => {
                    if (data && data.code === 0) {
                        this.categoryNameOptions = data.data;
                    } else {
                        this.$message.error(data.msg);
                    }
                });
            }
        },
        created(){
            this.getLatestArticleList()
            this.getHotArticleList();
            this.getCategory()
        }
    });



    layui.use(['layer', 'element', 'carousel', 'form','laypage', 'http', 'jquery'], function() {
        var layer = layui.layer;
        var element = layui.element;
        var carousel = layui.carousel;
        var laypage = layui.laypage;
        var http = layui.http;
        var form = layui.form;
        var jquery = layui.jquery;

        var limit = 5;



        // 获取轮播图 数据
        http.request('config/list', 'get', {
            page: 1,
            limit: 10
        }, function(res) {
            if (res.data.list.length > 0) {
                var swiperItemHtml = '';
                for (let item of res.data.list) {
                    if (item.name.indexOf('picture') >= 0 && item.value && item.value != "" && item.value != null) {
                        swiperItemHtml +=
                            '<div>' +
                            '<img class="swiper-item" src="' + item.value + '">' +
                            '</div>';
                    }
                }
                jquery('#swiper-item').html(swiperItemHtml);
                // 轮播图
                carousel.render({
                    elem: '#swiper',
                    width: swiper.width,height:swiper.height,
                    arrow: swiper.arrow,
                    anim: swiper.anim,
                    interval: swiper.interval,
                    indicator: swiper.indicator
                });
            }
        });
        // 分页列表
        pageList();

        // 搜索按钮
        jquery('#btn-search').click(function(e) {
            pageList();
        });



        function pageList() {
            var param = {
                page: 1,
                limit: limit
            }

            if (jquery('#title').val()) {
                param['title'] = jquery('#title').val() ? '%' + jquery('#title').val() + '%' : '';
            }
            if (this.categoryName!=''&&jquery('#categoryName').val()) {
                param['categoryName'] = jquery('#categoryName').val() ? '%' + jquery('#categoryName').val() + '%' : '';
            }

            // 获取列表数据
            http.request('information/list', 'get', param, function(res) {
                vue.dataList = res.data.list
                // 分页
                laypage.render({
                    elem: 'pager',
                    count: res.data.total,
                    curr: 1,
                    groups: 3,
                    limit: limit,
                    layout: ['prev', 'page', 'next', 'limit', 'limits'],
                    jump: function(obj, first) {
                        param.page = obj.curr;
                        //首次不执行
                        if (!first) {
                            http.request('information/list', 'get', param, function(res) {
                                vue.dataList = res.data.list
                            })
                        }
                    }
                });
            })
        }
    });
</script>
</body>
</html>
