<!-- 首页 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>首页</title>
		<link rel="stylesheet" href="./layui/css/layui.css">
		<!-- 样式 -->
		<link rel="stylesheet" href="./css/style.css" />
		<!-- 主题（主要颜色设置） -->
		<link rel="stylesheet" href="./css/theme.css" />
		<!-- 通用的css -->
		<link rel="stylesheet" href="./css/common.css" />

		<link href="./css/oj/loader.css" rel="stylesheet">
		<link href="./css/oj/vendor.css" rel="stylesheet">
		<link href="./css/oj/oj.css" rel="stylesheet">
<!--		<link href="//at.alicdn.com/t/c/font_3994378_b2nq12tc0z6.css" rel="stylesheet">-->
		<link href="//at.alicdn.com/t/c/font_3994378_cm69uy2e6f.css" rel="stylesheet">
<!--		<script src="//at.alicdn.com/t/c/font_3994378_b2nq12tc0z6.js"></script>-->
		<script src="//at.alicdn.com/t/c/font_3994378_cm69uy2e6f.js"></script>

		<style>
			.icon {
				width: 1.5em; height: 1.5em;
				vertical-align: -0.35em;
				fill: currentColor;
				overflow: hidden;
    		}

			a:hover, a:visited, a:link, a:active {
			color: black;
			text-decoration: none;
			}


		</style>
	
	</head>
	<body inmaintabuse="1" scrolling="no" style="overflow-y: hidden;overflow-x: hidden;">
		
		<!-- 顶部导航栏 -->
		<header id="header">
			<!-- <div class="top">
			    <div class="logo">
					<a href="#">
						考研互助平台
					</a>
				</div>

			</div> -->
			
			<ul class="layui-nav nav">
<!--				<li  class="layui-nav-item logo"><a href="index.html">考研互助平台</a></li>-->
				<li class="layui-nav-item">
					<a href="javascript:navPage('./pages/home/home.html')">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-shouye"></use>
						</svg> 首页
					</a>
				</li>
				<!-- <li v-for="(item,index) in indexNav" v-bind:key="index" class="layui-nav-item"><a :href="'javascript:navPage(\''+item.url+'\')'">{{item.name}}</a></li> -->
				<li class="layui-nav-item">
					<a href="javascript:navPage('./pages/information/list1.html')">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-zixun"></use>
						</svg> 最新资讯
					</a>
				</li>

				<li class="layui-nav-item">
					<a href="javascript:navPage('./pages/forum/list.html')">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-huochepiao1"></use>
						</svg> 交流论坛
					</a>
				</li>

				<li class="layui-nav-item">
					<a href="javascript:navPage('./pages/experience/list1.html')">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-wenzhang"></use>
						</svg> 经验贴分享
					</a>
				</li>

				<li class="layui-nav-item">
					<a href="javascript:navPage('./pages/material/list.html')">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-ziliaowenjian"></use>
						</svg> 资料共享
					</a>
				</li>

				<li class="layui-nav-item">
					<a href="javascript:navPage('./pages/commodity/list.html')">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-gouwuche"></use>
						</svg> 交易市场
					</a>
				</li>



				<li v-if="isLogin!=null" class="layui-nav-item">
					<a href="javascript:centerPage();">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-gerenzhongxin"></use>
						</svg> 个人中心
					</a>
				</li>

<!--				<li v-if="cartFlag" class="layui-nav-item">-->
<!--					<a href="javascript:navPage('./pages/cart/list.html')">-->
<!--						<i class="layui-icon" style="font-size: 30px;">&#xe657;</i>-->
<!--						购物车-->
<!--					</a>-->
<!--				</li>-->
<!--				<li v-if="isLogin!=null" class="layui-nav-item"><a target="_blank" @click="goBackEnd()"><svg class="icon" aria-hidden="true">-->
<!--					<use xlink:href="#icon-houtaizonglan"></use>-->
<!--				</svg>进入后台</a></li>-->
<!--				<li v-if="isLogin!=null" class="layui-nav-item"><a href="http://localhost:8081/login?account="+account+"&table="+table target="_blank" ><svg class="icon" aria-hidden="true">-->
<!--					<use xlink:href="#icon-houtaizonglan"></use>-->
<!--				</svg>进入后台</a></li>-->

				<li v-if="isLogin!=null" class="layui-nav-item"><a target="_blank" @click="goBackEnd()"><svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-houtaizonglan"></use>
				</svg>进入后台</a></li>

				<li   v-if="isLogin!=null" class="layui-nav-item"><a @click="logout" ><svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-tuichu"></use>
				</svg> 退出</a></li>

				<li v-if="isLogin==null" class=" layui-nav-item">
					<a href="javascript:centerPage();">
						<button data-v-f3a72d68="" type="button" class="ivu-btn ivu-btn-primary ivu-btn-circle" style="background-color: aliceblue; font-size: 16px; padding: 8px 25px;">												
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-denglu"></use>
							</svg>
							<span style="color: black;">登录</span>
						</button>
					</a>
				</li>
			</ul>
		</header>
		<!-- 顶部导航栏 -->
		


		<iframe src="./pages/home/home.html" id="iframe" frameborder="0" scrolling="auto" onload="changeFrameHeight()"></iframe>
	

		<!-- layui -->
		<script src="./layui/layui.js"></script>
		<!-- vue.js -->
		<script src="./js/vue.js"></script>
		<!-- 组件配置信息 -->
		<script src="./js/config.js"></script>


		<script>
			var vue = new Vue({
				el: '#header',
				data: {
					indexNav: indexNav,
					cartFlag: cartFlag,
					adminurl: adminurl,
					chatFlag: chatFlag,
					systemName: systemName,
					isLogin: '',
					account: '',
					table: ''
				},
				methods: {
					jump(url) {
						jump(url)
					},
					goBackEnd() {
					// window.location.href = 'http://localhost:8081/index'
					// 	window.location.href = 'http://localhost:8081/login?account='+${this.$storage.get("sessionTable")}+'&table='+this.table;
						window.location.href = `http://localhost:8081/beforeLogin?account=${localStorage.getItem("account")}&table=${localStorage.getItem("sessionTable")}`;
					},
					logout(){
						localStorage.removeItem('Token');
						localStorage.removeItem('role');
						localStorage.removeItem('sessionTable');
						localStorage.removeItem('account');
						localStorage.removeItem('userId');
						localStorage.removeItem('userTable');
						localStorage.removeItem('iframeUrl');
						window.parent.location.href = 'index.html';
					}
				},

				created(){
					const flag = localStorage.getItem("userTable");
					this.isLogin = flag;
				}
			});

			layui.use(['element','layer','http'], function() {
				var element = layui.element;
				var layer = layui.layer;
				var http = layui.http;

				vue.account = localStorage.getItem("account");
				vue.table = localStorage.getItem("sessionTable");

			});

			// function chatTap(){
			// 	var userTable = localStorage.getItem('userTable');
			// 	// this.isLogin = userTable;
			// 	if (userTable) {
			// 		layui.layer.open({
			// 			type: 2,
			// 			title: '客服聊天',
			// 			area: ['600px', '600px'],
			// 			content: './pages/chat/chat.html'
			// 		});
			// 	} else {
			// 		window.location.href = './pages/login/login.html'
			// 	}
			// }
			
			// 导航栏跳转
			function navPage(url) {
				localStorage.setItem('iframeUrl', url);
				document.getElementById('iframe').src = url;
			}

			// 跳转到个人中心也
			function centerPage() {
				var userTable = localStorage.getItem('userTable');
				if (userTable) {
					localStorage.setItem('iframeUrl', './pages/' + userTable + '/center.html');
					document.getElementById('iframe').src = './pages/' + userTable + '/center.html';
				} else {
					window.location.href = './pages/login/login.html'
					// window.location.href = 'http://localhost:8081/login/'
				}
			}



			var iframeUrl = localStorage.getItem('iframeUrl');
			if (!iframeUrl) {
				iframeUrl = './pages/home/home.html'
			} else {
				iframeUrl = iframeUrl.replace("..", "./pages");
			}
			document.getElementById('iframe').src = iframeUrl;

			// alert(iframeUrl)

			changeFrameHeight();

			//  窗口变化时候iframe自适应
			function changeFrameHeight() {
				var header = document.getElementById('header').scrollHeight;
				// var swiper = document.getElementById('swiper').scrollHeight;
				var ifm = document.getElementById("iframe");
				ifm.height = document.documentElement.clientHeight - header;
				ifm.width = document.documentElement.clientWidth;
				console.log(ifm.height)
			}

			// reasize 事件 窗口大小变化后执行的方法
			window.onresize = function() {
				changeFrameHeight();
			}

			
		</script>
	
	</body>
</html>